/*! Place your custom styles here */
.bar .logo {
  max-height: 2.2em;
  max-width: none;
}
.imagebg:not(.image--light) .bg--white a:not(.btn) {
  color:#000000;
}
.bg--pink {
  background: #BC515F;
}
.bg--salmon {
  background: #FFF9F7;
}
.bg--pink:not(.nav-bar):not(.bar) {
  color: #ffffff;
}

.bg--pink:not(.nav-bar):not(.bar) h1,
.bg--pink:not(.nav-bar):not(.bar) h2,
.bg--pink:not(.nav-bar):not(.bar) h3,
.bg--pink:not(.nav-bar):not(.bar) h4,
.bg--pink:not(.nav-bar):not(.bar) h5,
.bg--pink:not(.nav-bar):not(.bar) h6,
.bg--pink:not(.nav-bar):not(.bar) i,
.bg--pink:not(.nav-bar):not(.bar) span:not(.btn__text),
.bg--pink:not(.nav-bar):not(.bar) p {
  color: #ffffff;
}
